.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.todoWrapper {
  width: 60%;
  margin-left: 20%;
  margin-top: 20px;
  border: 1px solid #b2b2b2;
  box-shadow: 5px 3px #f0f0f0;
}

.searchWrapper {
  width: 100%;
  height: 40px;
  box-shadow: 0px 3px #f0f0f0;
  margin-bottom: 3px;
}

.searchInput {
  width: 80%;
  margin-left: 10%;
  height: 30px;
  border: none;
  font-size: 25px;
  padding-top: 2px;
}
.searchInput:focus {
  outline: none;
}
.todoItem {
  text-align: left;
  padding-left: 10%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2px;
  padding-bottom: 0px;
  padding-top: 9px;
  border-bottom: solid 1px #555555;
  background-color: #F0FFFF;
}
.checkContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
  font-size: 22px;
}
.checkContainer.inActive {
  text-decoration: line-through;
}
.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkContainer .mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 13px;
  background-color: #eee;
}
.checkContainer:hover input ~ .mark {
  background-color: #ccc;
}
.checkContainer input:checked ~ .mark {
  background-color: #2196F3;
}
.checkContainer .mark:after {
  content: '';
  position: absolute;
  display: none;
}
.checkContainer input:checked ~ .mark:after {
  display: block;
}
.checkContainer .mark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
